
:root {
    --white: hsl(0, 0%, 100%);
    --light-pink: hsl(275, 100%, 97%);
    --light-pink-darker: hsla(290, 32%, 66%, 0.322);
    --grayish-purple: hsl(292, 16%, 49%);
    --dark-purple: hsl(292, 42%, 14%);
}

* {
    box-sizing: border-box;
}

body { 
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    color: var(--dark-purple);
    background: var(--light-pink);
    overflow-y: hidden;
}

.wrapper {
    background: var(--white);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    padding: 50px;
    padding-bottom: 1em;
    box-shadow: 0 40px 40px var(--light-pink-darker);
}

.container {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.container.border {
    border-top: 1px solid var(--light-pink);
}

.hero-container {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 10px;
}

h2, h1 {
    margin: 0;

}

h1 { 
    font-size: 4em;
    font-weight: 700;
    padding-left: 0.5em;
}

h2 {
    font-weight: 600;
    font-size: 1.3em;
    margin: 35px 0;
    width: 100%;
    box-sizing: content-box;
}

h2:focus,
h2:hover,
.hover-button:hover,
.hover-button:focus {
    cursor: pointer;
    color: #AD28EB;
}
p {
    font-weight: 400;
    color: var(--grayish-purple);
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 25px;
    margin-top: 0em;
    transition: display 200ms, opacity 200ms;
    display: block;
    opacity: 1;
}
p[class="hidden"] {
    display: none;
    opacity: 0;
}

.hover-button {
    transform: scale(1.2);
}
/* finish the box shadow index so it's behind the graphic*/

@media only screen and (min-width: 750px) {
    .wrapper{
    min-width: 720px !important;
    }
}

@media only screen and (min-width: 376px) {
    .wrapper{
    min-width: 370px;
    }
}

@media only screen and (max-width: 375px) { 
    body {
        font-size: 80%;
        overflow: hidden;
    }
    
    .hero-container {
        padding: 0;
    }

    .background-img {
        transform: translate(-25%, -35%);
    }

    .wrapper {
        padding: 25px;
        padding-bottom: 0;
        width: 88%;
        border-radius: 10px;
    }
    
    h1 {
        font-size: 2.5em;
    }

    h2[class="bigger-padding"] {
        margin: 25px 0;
    }

    .star {
        transform: scale(0.6);
    }

    p {
        line-height:1.4;
        font-size: 1.1em;
        margin-bottom: 20px;
    }
    .hover-button {
        margin-left: 1em;
    }
}